<!DOCTYPE html>
<html>
<head>
	<title>TinyApp</title>
</head>
<body>
<% if(!username) {%>
<form method="POST" action="/login">
	<input type="type" name="username" placeholder="username" />
	<input type="submit" name="submit"></form>
<%} else {%>
<h1><%= username %></h1><form method="POST" action="/logout"><input type="submit" name="logout" value="logout">
 <%}%>
