<!DOCTYPE html>
<html>
<head>
	<title>TinyApp</title>
</head>
<body>
<% if(!id) {%>
<form method="POST" action="/login">
	<input type="type" name="username" placeholder="username" />
	<input type="type" name="password" placeholder="password" />
	<input type="submit" value="login"></form>
	<form method="GET" action="/registration"><input type="submit" value="sing up" action="/register"></form>
<%} else {%>
<h1><%= email +"\n id: "+id %></h1><form method="POST" action="/logout"><input type="submit" name="logout" value="logout"></form>
 <%}%>
