

<form method="POST" action="/register">
	<input type="email" name="email" placeholder="type your email">
	<input type="text" name="username" placeholder="type your userName">
	<input type="password" name="password" placeholder="type your password">
	<input type="submit" value="Register">
</form>


